body{background-color: #5C5C5C;
}
ul{ 
list-style-type: none; 
}
ul 
{ 
white-space: pre; list-style-type: none; 
}
a:link 
{ 
color:#990000; font-weight: 100; text-decoration: none; 
} 
a:hover 
{ 
color:##FF0033; font-weight: bold; text-decoration: underline; 
} 
a:active 
{ 
color: #CC00FF; font-weight: bold; text-decoration: underline; background-color: #000099; 
} 
a:visited 
{ 
color: #CC9933; font-weight: 100; text-decoration: none; 
}